.footer
  font-size: 0.9rem
  margin-top: 4rem
  width: var(--container-page)
  max-width: var(--container-max)
  margin-left: auto
  margin-right: auto
  padding: 0 1rem

  @media (max-width: 992px)
    width: 100%
    padding: 0 1rem

  &__cp
    color: var(--text-light)
