<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  
  {%- include head.html -%}

  <body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    {% include nav.html %}
    
    <main class="page" id="main-content" tabindex="-1">

      <header class="page__header {% if page.layout == 'landing' %}page__header--landing{% endif %}">
        {% if page.hero %}
        <img src="{{ page.hero }}" alt="{{ page.title }}" class="page__hero">
        {% endif %}
        {% if page.title %}
        <h1 class="page__title">{{ page.title }}</h1>
        {% endif %}
        {% if page.date %}
        {%- assign date_format = "%b %Y" -%}
        <div class="postslist__item__date">{{ page.date | date: date_format }}</div>
        {% endif %}
			</header>

      {{ content }}
    </main>
    
    <footer class="footer">
      <div class="divider"></div>
      <div class="footer__cp">Copyright 2026 Serences Lab</div>
    </footer>
    
    {% include scripts.html %}

  </body>

</html>
